[[source]]
url = "https://pypi.org/simple"
verify_ssl = true
name = "pypi"

[packages]
pygame = "*"
numpy = "*"
tensorflow = "*"
scikit-learn = "*"
tf-agents = "*"
gym = "*"
numba = "*"

[dev-packages]

[requires]
python_version = "3.8"
